<div class="home__container">
	<app-card
		gameCover="assets/justdance.avif"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 249,90"
	>
	</app-card>
	<app-card
		gameCover="assets/spiderman2.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 349,90"
	>
	</app-card>
	<app-card
		gameCover="assets/dragonball.avif"
		gameLabel="NEW"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 349,90"
		>
	</app-card>
	<app-card
		gameCover="assets/futebol.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
</div>

